<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Post Title" name="title" required />
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
    </mat-form-field>

    <div>
      <button
        mat-stroked-button
        color="primary"
        type="button"
        (click)="filePicker.click()"
      >
        Upload Image
      </button>
      <!-- we want to use the standard file input but with the pretty angular button to trigger it -->
      <!-- that will open the file selection window, and when an image is selected the (change) event is fired on the input -->
      <!-- $event allows angular to access the onImagePicked event on the input -->
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        formControlName="content"
        placeholder="Post Content"
        required
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter post content.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Save Post
    </button>
  </form>
</mat-card>
